<!doctype	html>
{% extends 'base.html' %}
{% load static %}
{% load rest_framework %}

<head>
    
    <meta charset="UTF-8">
    <title>sem sxtender</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/home.css' %}">
</head>




<body style="width: 100%;height: 100%;margin: 0;">
    {% block content%}

    <main>



        <div style="display: grid;">
         <form method="GET" action="#">
            <input class="search" type="text" name="search">
            <input type="submit">
         </form>
            <div>

                <div>
                    <ul class="ballons_words">
                        <li class="ballon">nafaaa</li>
                        <li class="ballon">outro balao</li>
                        <li class="ballon">putsz</li>
                    </ul>
                </div>
            </div>
        </div>
        <section class="feed_blocks">
            {%for art in arts %}

            <div style="background-image: url({% static 'img/69580472_894270460938476_5022640528101998592_n.jpg' %});" class={% cycle 'moldura_grande' 'moldura_media' 'moldura_media' %}>
                <div class="art_right">
                    <ul>
                        <li class="icon_header">
                            <a href="#">
                                <img src="{% static 'icones/icone_ativitades white.svg'%}"> </li>
                        </a>
                        <li class="icon_header">
                            <a href="#">
                                <img src=" {% static 'icones/qwww.svg'%}"> </li>

                        </li>
                        </a>
                        <li class="icon_header">
                            <a href="#">
                                <img src="{% static 'icones/face_icon white.svg'%}"> </li>

                        </li>
                        </a>
                        <li class="icon_header">
                            <a href="#">
                                <img src="{% static 'icones/user_icon white.svg'%}"> </li>

                        </li>
                        </a>

                    </ul>
                </div>
                <div class="description_arts">
                    <div style="background-image: url({% static '{{ art.photo }}' %});" class="profile">

                        <div>
                            <h3>
                                {{art.user_main}}
                            </h3>
                        </div>
                    </div>
                    <div>
                        <h1 class="titles" id="title_art"> {{ art.name }} </h1>
                        <h1>{%cycle 'pao' 'na cuta' %}</h1>
                        <div class="texts">{{art.description}}</div>

                        <div>icone</div>
                    </div>
                </div>

            </div>
                </div>

        
        

            {%empty%}
            <h1 class='tittle'> you still don't have friends </h1>

            {% endfor %}

        </section>

    </main>
    <nav class="menu_right">
        <div class="title_nav">roboto</div>
        <ul>
            <div style="background-image: url({% static 'img/67c43ba255b343835bd4963c75d94688.jpg'%});" class="retangle">
                <div class="shadow">
                    <div>
                        <h2 class="titles" id="title_right">titulo testezin </h2>
                        <p class="texts">teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            </div>
            <div style="background-image: url({% static 'img/67c43ba255b343835bd4963c75d94688.jpg'%});" class="retangle">
                <div class="shadow">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url({% static 'img/67c43ba255b343835bd4963c75d94688.jpg'%});" class="retangle">
                <div class="shadow">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url({% static 'img/67c43ba255b343835bd4963c75d94688.jpg'%});" class="retangle">
                <div class="shadow">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url({% static 'img/67c43ba255b343835bd4963c75d94688.jpg'%});" class="retangle">
                <div class="retangle">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url({% static 'images/67c43ba255b343835bd4963c75d94688.jpg'%});" class="retangle">
                <div class="retangle">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url(images/64d8d24d1a8fd8fe14db5ab36109db1c.jpg);" class="retangle">
                <div class="retangle">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url(images/64d8d24d1a8fd8fe14db5ab36109db1c.jpg);" class="retangle">
                <div class="retangle">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url(images/64d8d24d1a8fd8fe14db5ab36109db1c.jpg);" class="retangle">
                <div class="retangle">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>
            <div style="background-image: url(images/64d8d24d1a8fd8fe14db5ab36109db1c.jpg);" class="retangle">
                <div class="retangle">
                    <div>
                        <h2>titulo testezin </h2>
                        <p>teting text box, so i'm writing same aleatory words for get the space complete for the besterer form indentention </p>
                    </div>
                </div>
            </div>


        </ul>
    </nav>


{%endblock%}