<!doctype	html>
{% load static %}

<head>
    
    <meta charset="UTF-8">
    <title>fdsf</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/login_page.css' %}">
</head>


{% block content%}

<body style="background-image: url({% static 'img/back\ grou.jpg'%});">
    <div class="main">
        <div class="ilustration" style="background-image: url({% static 'img/jlkjlkjl.jpg'%});">
        </div>
        
        
        <div>

<!--             
        <section class="container">
            <div>
                <form method="POST" action=".">{% csrf_token %}
                    <!-- <h3>nome</h3>
                <input type="text" name='nome'>
                <br>
                <h3>vulgo</h3>

                <input type="text" name='vulgo'>
                <br>

                <h3>e-mail</h3>
                <input type="email" name ='email' placeholder="email">
                <br>

                <h3>idade</h3>
                <input type="number" name='idade'>
                <br>
                <h3>senha</h3>
                <input type="password" name='senha'>
                <br>
                <br>
                    {{formreg.as_p}}
                <input type="submit">
                </form> 
            </div>

                <div>
                    <form method="POST" action=".">{% csrf_token %}

                    {{formlog.as_p}}
                    <input type="submit">
                    
            </form>
                </div> 

            </div> -->
            <div>
                <div class="wrapper">
                    <div class="title-text">
                      <div class="title login">Login Form</div>
                      <div class="title signup">Signup Form</div>
                    </div>
                    <div class="form-container">
                      <div class="slide-controls">
                        <input type="radio" name="slide" id="login" checked>
                        <input type="radio" name="slide" id="signup">
                        <label for="login" class="slide login">Login</label>
                        <label for="signup" class="slide signup">Signup</label>
                        <div class="slider-tab"></div>
                      </div>
                      <div class="form-inner">
                        <form method="POST" action="." class="login">{% csrf_token %}
                          {{formlog.as_p}}
                          <input type="submit">
                          <div class="signup-link">Not a member? <a href="">Signup now</a></div>
                        </form>
                        <form method="POST" action="." class="signup">{% csrf_token %}
                         {{formreg.as_p}}
                         <input type="submit">
                        </form>
                      </div>
                    </div>
                  </div>
              
            </div>
            
        </div>
        </section>
        </div>
    </div>


    <script>
        const loginForm = document.querySelector("form.login");
        const loginBtn = document.querySelector("label.login");
        const signupBtn = document.querySelector("label.signup");
        signupBtn.onclick = (()=>{
          loginForm.style.marginLeft = "-50%";
          loginText.style.marginLeft = "-50%";
        });
        loginBtn.onclick = (()=>{
          loginForm.style.marginLeft = "0%";
          loginText.style.marginLeft = "0%";
        });
       
      </script>
    
</body>


{%endblock%}