{% extends 'base.html' %}
{%block content%}
<body>
   <div class="col-md">
    <h1>Cadastre-se</h1>
    <hr>

    <form method="POST" action="{% url 'validar_login' %}">{% csrf_token %}

         <label>Nome</label>
         <input name="nome" class="form-control" type="text" placeholder="Nome..."> 
         <br>
         <label>Email</label>
         <input name="email" class="form-control" type="text" placeholder="Email...">
         <br>
         <label>vulgo</label>
         <input name='vulgo' class='form-control' type='text' placeholder='vulgo...'>
         
         <br>
         <label>Senha</label>
         <input name="senha" class="form-control" type="password" placeholder="Senha...">
         <br>
        
         
         <input class="btn btn-info btn-lg" type="submit" value="Enviar">


    </form>

<h1>fala povao</h1>
</body>
{%endblock%}