{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
<head>
  <link rel="stylesheet" href=".fr.css">
  <link rel="stylesheet" href="./fr.css">
  <link rel="stylesheet" href="/fr.css">
</head>



<script>
  function minhaFuncao(post) {
    // faz alguma coisa com os parâmetros
      const endpoint = 'http://127.0.0.1:8000/api/post/{post}/likes/';
      fetch(endpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({"Post": art })
      })
      .then(response => response.json())
      .then(data => {
        console.log(data); // faça algo com os dados recebidos do servidor
      })
      .catch(error => {
        console.error(error); // lida com erros de requisição
      });


    }




</script>


{% block content %}


 <form method="post" action=".">{% csrf_token %}
  <div class="d-flex justify-content-between">
    <div>
    <label class="form-label fs-1"> Your Username</label>
    <input class="form-control" type="text" id="username" placeholder="lukitadafalera">
  </div>

    <div class="img_profile">

      <img id='imgpro' src="http://g-ecx.images-amazon.com/images/G/01/lwa/btnLWA_gry_195x46.png">

    <input id="imginp" name='img' type="file" accept="image/*" placeholder="choose">

  </div>

  </div>



  <label class="form-label fs-1"> Your Name</label>
  <input class="form-control" type="text" id="name" name="name" placeholder={{user.name}}>
  <label class="form-label fs-1">bio</label>
  <div class="form-floating">
    <textarea class="form-control" name="bio" placeholder={{user.bio}} id="bio" style="height: 100px"></textarea>
  <label for="floatingTextarea2"></label>
  <span></span>
  <div class="d-flex justify-content-between">
      <div>
      <label class="form-label md"> Country</label>
          <input class="form-control" type="text" name="country" id="country" placeholder={{user.country}}>
      </div>
      <div>
      <label class="form-label d-flex"> Birthy</label>
          <input class="form-control" type="date" name="birth"id="Birth" placeholder="">
      </div>
  </div>

  <h5 class="text-center"> links socials </h5>
  <div class="d-flex justify-content-between social">
      <div class="">
          <label> twitter</label>
          <input class="form-control social" type="url" name="twitter" id="twitter" placeholder={{user.twitter}}>
          <label> Linkedin</label>
          <input class="form-control social" type="link" id="linkedin" name="linkedin" placeholder={{user.linkedin}}>
      </div>
      <div>
          <label> Instagram</label>
          <input class="form-control social" type="text" id="instagram" name="instagram" placeholder={{user.instagram}}>
          <label> Behance</label>
          <input class="form-control social" type="link" id="behance" name="behance" placeholder={{user.behance}}>
      </div>
  </div>
  <input type="submit">
</form>

<button id="my-button" type="button" onclick="minhaf(2)">Enviar</button>


{% endblock %}







</body>
</html>
