{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}



paaau

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}


<nav class="bloco">
  <div id="amazon-root"></div>
  <script type="text/javascript">

     window.onAmazonLoginReady = function() {
       amazon.Login.setClientId('amzn1.application-oa2-client.000e2fc75f3a47f6a5bca9be4d095a9c');
     };
     (function(d) {
       var a = d.createElement('script'); a.type = 'text/javascript';
       a.async = true; a.id = 'amazon-login-sdk';
       a.src = 'https://assets.loginwithamazon.com/sdk/na/login1.js';
       d.getElementById('amazon-root').appendChild(a);
     })(document);

 </script>


<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>


<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">

  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-secondary" type="submit">{% trans "Sign In" %}</button>
</form>
<a href id="LoginWithAmazon">
  <img  alt="Login with Amazon"
      src="http://g-ecx.images-amazon.com/images/G/01/lwa/btnLWA_gry_195x46.png"
      width="156" height="32" />
 </a>



 <script type="text/javascript">
  document.getElementById('LoginWithAmazon').onclick = function() {
      options = {}
      options.scope = 'profile';
      options.scope_data = {
          'profile' : {'essential': false}
      };
      amazon.Login.authorize(options,
          'http://localhost:8000/');
      return false;
  };
</script>


{% endblock %}

</nav>






